* {
    margin: 0;

    outline: 0;
}

body {

    background: url('../images/body-bg.gif');
}


h2 {
    font-size: 10px;
    color: #f2a223;
    font-weight: bold;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */

.navigation {

    margin-left: 100px;
}

#navigation ul li {
    display: inline;
}

.navigation a {

    color: #e7b038;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navigation a:hover {
    text-decoration: underline;
    color: #d91d2a;
}

/* --------------------------------------
     movie images
   -------------------------------------- */
.movie-image {
    float: left;
    width: 400px;
    height: 250px;
    padding: 2px 5px;
}

.movie-image a:hover {
    transform: scale(1.30);
}


.movie-image p {
    font-size: 20px;
    color: #F1948A;
    font-weight: bold;
    font-family: sans-serif;
}

.movie-image img {
    width: 152px;
    height: 214px;
}

.movie-image a {
    float: left;
}
.rating .stars {
    float: left;
    width: 60px;
    height: 11px;
    background: url('../images/stars.gif') no-repeat 0 0;
    margin-left: 2px;
}
/* --------------------------------------
       Hero unit of 1st page
   -------------------------------------- */
.hero {
    height: 320px;
    background-size: 1500px 300px;
    font-size: 20px;
    background-image: url("../images/h.jpeg");
    background-repeat: no-repeat;
    text-align: : center;
}
.hero h3 {
    text-align: center;
    color: white;
}

/* --------------------------------------
       Hero unit of 2nd page
   -------------------------------------- */

.rhero {
    height: 450px;
    background-size: 1320px 400px;
    font-size: 20px;
    background-image: url("../images/review.jpg");
    background-repeat: no-repeat;
    text-align: : center;
}
/* --------------------------------------
     footer
   -------------------------------------- */

.foot {

    text-align: center;
    font-size: 30px;
    display: inline;
}
.foot li {

    display: inline;
}
.foot i:hover {

    color: red;
}
footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}